#pragma code_page(65001)
#include <windows.h>

#define APP_ICON 101

APP_ICON ICON "app.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,1,0
 PRODUCTVERSION 1,1,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "muyuzy123-pixel\0"
            VALUE "FileDescription", "JSON 字典编辑器\0"
            VALUE "FileVersion", "1.1.1\0"
            VALUE "InternalName", "JSONDictionaryEditor\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 muyuzy123-pixel\0"
            VALUE "OriginalFilename", "JSONDictionaryEditor.exe\0"
            VALUE "ProductName", "JSON 字典编辑器\0"
            VALUE "ProductVersion", "1.1.1\0"
        END
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "muyuzy123-pixel\0"
            VALUE "FileDescription", "JSON Dictionary Editor\0"
            VALUE "FileVersion", "1.1.1\0"
            VALUE "InternalName", "JSONDictionaryEditor\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 muyuzy123-pixel\0"
            VALUE "OriginalFilename", "JSONDictionaryEditor.exe\0"
            VALUE "ProductName", "JSON Dictionary Editor\0"
            VALUE "ProductVersion", "1.1.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200, 0x0409, 1200
    END
END
